html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    width: 95%;
    margin: 0 auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}
body{
    background-image: -webkit-linear-gradient(left top, rgb(48,35,174), rgb(200,109,215));
    background-image: linear-gradient(left top, rgb(48,35,174), rgb(200,109,215));
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    color: whitesmoke;
    min-height: 100vh;
}

h1{
    font-size: 14vw;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    
}
h3{
    font-size: 7.5vw;
    display: inline;
    background-color: black;
    border-radius: 4px;
    letter-spacing: 4px;
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    padding-right: 3px;
    padding-left: 3px;
}
p{
    font-size: 7vw;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}

a{
    text-decoration: none;
    color: transparent;
}
h1 ,h3, .para{
    margin-left: 10px;
}
a{
    text-decoration: underline;
    padding: -4px;
    color: whitesmoke;
    transition: .1s ease-in;
    line-height: 3px;
}
.social a{
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.fa-paint-brush:before{
    color: yellow;
    font-size: 24px;
}
@media only screen and (min-width: 768px) {
    h1{
        font-size: 9.5vw;
        padding-top: 40px;

    }
    h3{
        font-size: 3vw;
    }
    p{
        font-size: 3.5vw;
        padding-top: 15px;
    }
    .para{
        padding-top: 70px;
    }
    h1 ,h3, .para{
        margin-left: 30px;
    }
    .fa-paint-brush:before{
    font-size: 20px;
    }
}