/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ---------My Code Below--------- */
:root{
  font-size: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 60rem;
}

h1 {
  margin-top: 14.0rem;
  font-family: Poppins;
  font-weight: 900;
  font-size: 5.6rem;
  color: #282828;
  line-height: 2.6rem;
  border-bottom: 1.0rem solid #ff6262;
  align-self: flex-start;
  /* display: inline-block; */
}

h2 {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #00aced;
  margin-top: 0.6rem;
}

h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  line-height: 1.5rem;
  font-size: 3.2rem;
  color: #282828;
  border-bottom: 0.7rem solid #ff6262;
  /* display: inline-block; */
  margin: 0 auto;
  margin-top: 8.0rem;
}

h3 + p {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 900;
  line-height: 3.7rem;
  font-size: 2.6rem;
  text-align: justify;
  text-indent: 1.0rem;
  margin-top: 2.5rem;
  color: #282828;
}

a.button {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 2.0rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #00aced;
  text-decoration: none;
  display: inline-block;
  margin: 7.0rem auto 10.0rem auto;
  display: flex;
  width: 20.0rem;
  height: 5.0rem;
  align-items: center;
  justify-content: space-evenly;
}

footer {
  background-color: #ebebeb;
}

footer p {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #767676;
  text-align: center;
  padding-bottom: 1.0rem;
}

.link {
  display: flex;
  justify-content: space-evenly;
  margin: 6.0rem 0;
  margin-bottom: 4.0rem;
}

.link li a {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 2.0rem;
  color: #282828;
  text-decoration: none;
}
.link li a:hover{
    text-decoration: underline;
}

p > a{
    color: #00aced;
}

@media only screen and (max-width: 780px) {

  :root{
    font-size: 8px;
  }

}
@media only screen and (max-width: 680px) {

  :root{
    font-size: 7px;
  }

}
@media only screen and (max-width: 580px) {

  :root{
    font-size: 6px;
  }

}