body{
    background-color: teal;
    color: whitesmoke;
}
header h1{
    font-family: 'Open Sans Condensed', sans-serif;
}
header h3{
    background-color: black;
    display: inline;
    border: 3px solid black;
    border-radius: 3px;
    font-family: 'Fjalla One', sans-serif;
}

p{
    font-family: 'Inconsolata', monospace;
}